
{% load static %}

<div class="container">
    <div class="col-12">
        <div class="row mob-mode pt-4 pb-4">
                
            <div class="col-1 mr-2 d-flex align-items-center justify-content-center">
                <a href="{% url 'main_page' %}" class="col-3 head-link ml-5">
                    <img src='{% static "img/logo.png" %}' class="align-items-center justify-content-center" alt="Logo Image"/>
                </a>
            </div>

            <div class="row btn-items col-7 offset-1 d-flex align-items-center justify-content-center">
                <a href="{% url 'store' %}" class="col-4 head-link">Продукты</a>
                <a href="{% url 'partnership_page' %}" class="head-link col-4 col-md-4 col-lg-5">Партнерство</a>
                <a href="{% url 'contacts' %}" class="head-link col-4 col-md-4 col-lg-3">Контакты</a>
            </div>

            <div class="col-2 offset-1 d-flex justify-content-center align-items-center">
                <a href="http://my.soh100.ru/login" class="log-in-btn" target="_blank">
                    Войти
                </a>
            </div>
        </div>

        <div class="d-flex flex-column align-items-center" style="padding-top: 10vh;">
            <h1 class="col-8 mb-4 header-down-up">Safety of Health</h1>
            <h1 class="header-down-middle mb-4">Федеральная сеть зарядных станций для электромобилей</h1>
            <h2 class="col-9 header-down-down mb-5">Производим и устанавливаем для Вас зарядные станции для электромобилей.  
                Использование может быть личным или коммерческим.
            </h2>

            <a href="http://my.soh100.ru/map" class="col-10 col-md-10 col-lg-3 button-stations mt-3 text-decoration-none" target="_blank">
                К зарядным станциям
            </a>
        </div>
        
    </div>
</div>