<!-- sponsors.html -->
{% load static %}


<div class="container mt-5 pt-5 d-flex align-items-center justify-content-center">
    <div class="row">
        <div class="col">
            <img src="{% static 'img/sfu.png' %}" alt="sfu_img" class="img-fluid" />
        </div>
        <div class="col">
            <img src="{% static 'img/sgk.png' %}" alt="sgk_img" class="img-fluid" />
        </div>
        <div class="col">
            <img src="{% static 'img/gaz.png' %}" alt="gaz_img" class="img-fluid" />
        </div>
    </div>
</div>