
 .header-part {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    width: 100%;
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/static/img/headImage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Задайте здесь нужное вам затемнение */
    z-index: 2;
}
  
.inner {
    position: relative;
    z-index: 3;
    color: #fff;
    text-align: center;
    padding: 50px;  
}

.header-content {
    position: relative;
    z-index: 5;
}

.head-link {
    display: inline-flex;
    text-decoration: none !important;
    color: #ffffff;
    font-weight: 350;
    font-size: 2vw;
    transition: color 0.5s ease-out;
}

.head-link:hover {
    color: #1FC4C2;
}

.log-in-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;
    background: #FFFFFF;
    border: 4px solid #073232;
    border-radius: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #333333;
    text-decoration: none !important;
    transition: background-color 0.5s ease-out;
}

.log-in-btn:hover {
    background-color: #1FC4C2;
    color: #333333;
}

.show {
    display: block !important;
}


@media (max-width: 767px) {
    .btn-items {
        flex-direction: column;
        align-items: center;
    }

    .head-link {
        font-size: 22px; /* Измените размер шрифта на нужное значение */
    }

    .header-down-down{
        display: none;
    }
}

.header-down-up{
    font-weight: 700;
    font-size: 450%;
    text-align: center;
    color: #FFFFFF;
}

.header-down-middle{
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
}

.header-down-down{
    font-weight: 274;
    text-align: center;
    color: #FFFFFF;
}


.button-stations{
    font-weight: 350;
    font-size: 1.5rem;
    line-height: 28px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 12px;
    background: #1FC4C2;
    border: 4px solid #073232;
    border-radius: 18px;
    transition: background-color 0.5s ease-out;

}

.button-stations:hover {
    background: #1ba4a2;
    color: white;
}

.possibilities-header {
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    text-align: center;
}


@media (max-width: 1200px) {
    .possibilities-header {
      font-size: 45px;
    }
}

@media (max-width: 768px) {
    .possibilities-header {
      font-size: 35px;
    }
}

@media (max-width: 1200px) {
    .possibilities-header {
      font-size: 45px;
    }
}